/*
GauTown website css
author:GauTown team
--导入bootstrap Icon library
*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css");

/*定义颜色变量*/
:root{
  --bs-blue: #0F62FE;
  --bs-plum: #8000FF;
  --bs-navy:#000080;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-grey: #6c757d;
  --bs-white: #fff;
  --bs-black: #000;
  --bs-dark: #212529;
  --bs-light: #f8f9fa;

}

html {
  background-color:var(--bs-white);
  font-family: sans-serif;
}
body {
  margin: 0;
  width: 100%;
  min-width: 80ch;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
a {
  color: #333;
}
h1 {
  font-size: 2rem;
}
header {
  width: 100%;
  position:sticky;
  top: 0;
  background: rgba(250, 250, 252, .8);
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: 1px solid #999;
}
nav {
  width: 100%;
  margin: 0 auto;
  line-height: 2;
  display: flex;
  align-items: center;
  .navbar-brand {
    padding:0 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    background: linear-gradient(to right,var(--bs-blue), var(--bs-plum) );
    /* background-clip: text;  */
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: #fff;
    /* -webkit-text-fill-color: transparent; */

  }
  
   
  ul {
    display: flex;
    align-items: center;
    a {
      display: block;
      padding: 0 1rem;
    }
    a:hover {
      color: var(--bs-plum);
    }
  }
  .active {
    color:var(--bs-plum);
  }
}
