---
const platform = "qq";
const username = "2298230756";
---

<footer>
  <p>© 2024 {username} Studio <a href= {`https://www.${platform}.com/${username}`}><i class="bi bi-tencent-qq"></i></a></p>
</footer>