

    <header>
        <nav>
            <a class="navbar-brand" href="">GauTown<small>.cn</small></a>
            <ul>
                <li><a class="nav-link active"  href="/">首页</a></li>
                <li><a class="nav-link" href="/su/">SketchUp</a></li>
                <li><a class="nav-link" href="/lo/">Layout</a></li>
                <li><a class="nav-link" href="/tw/">Twinmotion</a></li>
                <li><a class="nav-link" href="/blog/">博客</a></li>
                <li><a class="nav-link" href="/about/">关于</a></li>
            </ul>
        </nav>
    </header>
   
    
    